<% content_for :page_title do %>
  <%= Spree.t(:listing_shipments) %>
<% end %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>
<div class="form-group col-md-12">
  <%= form_for "shipments", url: admin_shipments_url, method: 'Get', html: { id: "shipments", multipart: true } do |f|%>
  <div class="shipment-filter col-md-3">
      <div class="form-group col-md-12">
        <%= f.collection_select "time", Dish::TimeFrame.all, :id, :name, {:include_blank => false,:selected => @time.id.to_i},  {:class => 'form-control',:data=>@time.id.to_i} %>
      </div>
  </div>
  <%= submit_tag 'APPLY',  :class => "btn btn-success", data: {  }%>
<% end %>

</div>


<% unless @shipments.empty? %>
  <table class="table" id="listing_shipments" data-hook>
    <thead>
      <tr data-hook="admin_orders_index_headers">
        <th><%= Spree.t(:delivery_man) %></th>
        <th><%= Spree.t(:shipment_number) %></th>
        <th><%= Spree.t(:shipment_state) %></th>
        <th><%= Spree.t(:item_cost) %></th>
        <th> <%= Spree.t(:customer_information) %></th>
        <th data-hook="admin_shipments_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <% @deliverers.each do |deliverer| %>
      <tr data-hook="admin_shipments_index_rows" class="">
         <% shipments = deliverer.shipments.date(Date.today).time_frame(@time.id)%>
        <td rowspan="<%= count = shipments.count%>">
          <a href="/admin/shipments/shipment_delivery_man/<%= deliverer.id %>">
            <%= deliverer.first_name %> <%= deliverer.last_name %>
          </a> 
        </td>
        <% unless count == 0 %>
       

          <%= render :partial => 'spree/admin/shipments/shipment_index', :locals => { :shipment => shipments.first } %>

      </tr>
          <% shipments =shipments.drop(1) %>
          <% shipments.each do |shipment| %>
      <tr data-hook="admin_shipments_index_rows" class="">
          <%= render :partial => 'spree/admin/shipments/shipment_index', :locals => { :shipment => shipment } %>
      </tr>
          <% end %>
        <% else %>
        </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
<% else %>
    <%# New alert 'Not Found' with i18n %>
      <%= Spree.t(:no_resource_found, resource: Spree::Shipment.model_name.human(count: :many)) %>
<% end %>


